<div id="image">
  <% if @image.title != nil %>
  <aside>
    <div class="content">
      <% if @image.title != nil %>
      <h2><%= @image.title %></h2>
      <% end %>
      <% if @image.dates != nil %>
      <p><i><%= @image.dates %></i></p>
      <% end %>
      <% if @image.description != nil %>
      <p><b>Description:</b> <%= @image.description %></p>
      <% end %>
      <% if @image.technologies != nil %>
      <b>Technologies used: </b><p><%= @image.technologies %></p>
      <% end %>
      <% if @image.link != nil %>
      <b>Url: </b><p style="font-size: 12px;"><%= @image.link %></p>
      <% end %>
    </div>
  </aside>
  <% end %>
  <center>
    <img src="/img/<%= @image.filename %>" alt="">
  </center>
</div>